<div class="box">
    <div class="is-flex is-align-items-center" data-file-id="{{- entryUniqId -}}" data-filename="{{- entryFilename -}}">
        <p class="my-0">
            <a id="link"
              href="{{- path('pico_download_entry_full', {uniqId: entryUniqId, filename: entryFilename }) -}}">
                {{- url('pico_download_entry_full', {uniqId: entryUniqId, filename: entryFilename }) -}}
            </a>
        </p>
        <button id="copy-btn" class="button is-small is-info ml-2" data-clipboard-text="{{- url('pico_download_entry_full', {uniqId: entryUniqId, filename: entryFilename }) -}}">
            <span class="icon is-small">
              <i class="fa-solid fa-copy"></i>
            </span>
        </button>
    </div>
    <p>Full Link</p>
</div>
<div class="box">
    <div class="is-flex is-align-items-center">
        <p class="my-0">
            <a id="link"
              href="{{- path('pico_download_entry_short', {uniqId: entryUniqId}) -}}">{{- url('pico_download_entry_short', {uniqId: entryUniqId}) -}}</a>
        </p>
        <button id="copy-btn" class="button is-small is-info ml-2" data-clipboard-text="{{- url('pico_download_entry_short', {uniqId: entryUniqId}) -}}">
            <span class="icon is-small">
                 <i class="fa-solid fa-copy"></i>
            </span>
        </button>
    </div>
    <p>Shortlink</p>
</div>
