{% extends 'crud_bulma.html.twig' %}

{% block page_title %}{{ pageTitle|default('_Page_Titlte_') }}{% endblock %}

{% block on_page_style_tag '' %}

{% block crud_main %}
    <div class="content container">
        <h2 class="title mt-5">{{ pageTitle|default('_Page_Titlte_') }}</h2>

        <section>
            {% if editForm is defined %}
                {{ form_errors(editForm) }}
                {{ form_start(editForm) }}
                {{ form_rest(editForm) }}
                <a href="{{- path('pico_admin_files_delete_confirm', { uniqId: entryUniqId }) -}}" class="button is-danger">Delete</a>
                <a href="{{- path('pico_admin_files') -}}" class="button is-light">Back</a>
                <button type="submit" class="button is-info" {% if app.debug %}formnovalidate{% endif%}>Save</button>
                {{ form_end(editForm) }}
            {% endif %}
        </section>
    </div>
{% endblock %}

