<div class="table-container">
    <table class="table is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>Label</th>
            <th>Created</th>
            <th>URL Expiration</th>
            <th>File Expiration</th>
            <th>Max Upload Size</th>
            <th>Uploads</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% if paginatedResults %}
            {% for guestLink in paginatedResults %}
                {% set _guestLinkUsable = true %}
                {% if guestLink.maxAllowedUploadsReached or guestLink.isExpired or guestLink.disabled %}
                    {% set _guestLinkUsable = false %}
                {% endif %}
                {%- set _isDisabled = guestLink.disabled -%}
                <tr class="{% if not _guestLinkUsable %}is-light{% endif %}">
                    {# Label #}
                    <td class="is-vcentered">
                        <a href="{{ path('pico_upload_file_with_guest_link', {guestLinkUniqId: guestLink.uniqLinkId.toBase58}) }}" target="_blank">
                            {% if guestLink.label|default %}
                                {{- guestLink.label -}}
                            {% else %}
                                <em>unnamed</em>
                            {% endif %}
                        </a>
                        {% if app.debug %}
                            <br><span class="is-size-6 has-text-grey-light is-family-monospace">{{ guestLink.uniqLinkId.toBase58|default('_NO_UNIQ_LINK_ID_') }}</span>
                        {% endif %}
                    </td>
                    {# Created + Updated #}
                    <td class="is-vcentered">
                        {{- guestLink.createdAt|date('Y-m-d H:i') -}}
                    </td>
                    {# url Expires #}
                    <td class="is-vcentered">
                        {% if guestLink.isEndless is same as(false) %}
                            {{- guestLink.expiresAt|date('Y-m-d H:i') -}}
                        {% endif %}
                    </td>
                    {# File Expiration  #}
                    <td class="is-vcentered">
                        &ndash;
                    </td>
                    {# max uplaod size #}
                    <td class="is-vcentered">
                        <span>
                        {% if guestLink.isUnlimitedFileSize is same as(true) %}
                            Unlimited
                        {% else %}
                            Max. Filesize: <b>{{ guestLink.maxFileBytes|human_filesize }}</b>
                        {% endif %}
                        </span>
                    </td>
                    {# uploads #}
                    <td class="is-vcentered">
                        <span>
                        {{- guestLink.currentUploads -}}&nbsp;/&nbsp;
                        {% if guestLink.isUnlimitedUploads is same as(true) %}
                            Unlimited
                        {%- else -%}
                            <b>{{ guestLink.maxUploads }}</b>
                        {%- endif -%}
                        </span>
                    </td>

                    {# Actions #}
                    <td class="is-vcentered">
                        <div class="buttons">
                            {% if _guestLinkUsable %}
                            <button class="button is-dark" title="Copy Link">
                                <i class="fa-solid fa-copy"></i>
                            </button>
                            {% endif %}
                            {% if app.debug %}
                            <a class="button is-info" title="Edit" href="{{- path('pico_admin_guest_link_edit', { uniqId: guestLink.uniqLinkId.toBase58 }) -}}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            {% endif %}
                            {% if _isDisabled %}
                                <a class="button is-success" title="Enable" href="{{- path('pico_admin_guest_link_enable', { uniqId: guestLink.uniqLinkId.toBase58 }) -}}">
                                    <i class="fa-solid fa-square-check"></i>
                                </a>
                            {% else %}
                                <a class="button is-warning" title="Disable" href="{{- path('pico_admin_guest_link_disable', { uniqId: guestLink.uniqLinkId.toBase58 }) -}}">
                                    <i class="fa-solid fa-ban"></i>
                                </a>
                            {% endif %}

                            <a class="button is-danger" title="Delete" href="{{- path('pico_admin_guest_link_confirm_delete', { uniqId: guestLink.uniqLinkId.toBase58 }) -}}">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">
                    <em>No guest links &hellip;</em>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% if paginatedResults|default and showPagination|default %}
    <!-- Pagination -->
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous" disabled>Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
            <li><a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a></li>
            <li><a class="pagination-link" aria-label="Goto page 2">2</a></li>
            <li><a class="pagination-link" aria-label="Goto page 3">3</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link" aria-label="Goto page 10">10</a></li>
        </ul>
    </nav>
{% endif %}

